img {
  float: left;
  padding: 20px;

}

.sidebar {
  width: 15%;
  float: right;
  background-color: darkorchid;
  border: black;
}

.column {
  width: 300px;
  float: left;
}

body {
  background-image: url("https://f4.bcbits.com/img/a0875583060_10.jpg");
  background-color: #cccccc;
 }